@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin: 10px 10px;
}

button {
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
  width: 150px;
}
button:not(:active):hover {
  border: 2px solid red;
  background-color: beige;
}
button:active {
  background-color: #adad21;
  box-shadow: 2px 2px 1px 0px #000000bf;
}

span {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
  color: #0101ff;
  text-decoration: underline;
  margin: 10px 0;
}